<footer>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">

          <ul class= "list-inline text-center">
            <li class="list-inline-item">
              <a href="https://www.linkedin.com/in/mohamed-rida-ben-tama-serroukh-45b575177/">
              <span class="fa-stack fa-lg">
                <i class="fa fa-circle fa-stack-2x">
                 
                </i>
                <i class="fa fa-linkedin fa-stack-1x fa-inverse">
                 
                </i>
              </span>
              </a>

              <a href="https://github.com/serroukh94">
              <span class="fa-stack fa-lg">
                <i class="fa fa-circle fa-stack-2x">
                
                </i>
                <i class="fa fa-github fa-stack-1x fa-inverse">
                
                </i>
              </span>
              </a>

            </li>

          </ul>  

          <div class= "list-inline text-center">
           Copyright 2021 - Site réalisé par Ben tama Serroukh Mohamed 
           <br> Projet 5 - Parcours Développeur d"application PHP-SYMFONY
          </div>
       

           </div>
      </div>
    </div>
  </footer>
</body>
</html>


          